﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/SiteJS")
    @RenderSection("scripts", required: false)
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body class="background-color blue">
    <div class="navbar navbar-inverse navbar-fixed-top background-color blue">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Support Wheel of Fate", "Index", "Home", new { area = "" }, new { @class = "navbar-brand fontSize" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="fontSize">
            <p>&copy; @DateTime.Now.Year - Support Wheel of Fate</p>
        </footer>
    </div>

    <script>
        var selectedEngineers = null;
    </script>
</body>
</html>
