﻿<div class="container mainBody">
    <div class="wrapper text-center">
        <h1 class="mega montserrat bold p-1">
            Make <span class="color-emphasis-1 text-uppercase">click</span> on the button<br>
            and known your <span class="color-emphasis-1 text-uppercase">lucky!</span>
        </h1>
    </div>
    <div id="loaderContainer" class="row text-center">
        <div id="loader"></div>
    </div>
    <div id="messageContainer" class="row text-center">
        <span class="color-emphasis-1" style="font-size: 2em"></span>
    </div>
    <div id="engineersContainer">
    </div>
    <div class="row text-center p-3">
        <a id="GetEngineers" class="btn btn-red btn-lg">Get Engineers &raquo;</a>
        <a id="SeeEngineers" class="btn btn-red btn-lg">See Selected Engineers &raquo;</a>
    </div>
</div>
