﻿@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.fontSize {
    font-size: 15px;
    color: #fff !important;
}

a:hover.fontSize {
    color: #FF4056 !important;
}

.container.mainBody {
    padding: 10px;
    padding-bottom: 60px;
}

footer.fontSize {
    color: #fff ;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}

.container.body-content {
    min-height: 100%;
    position: relative;
}

h1 {
    line-height: 1;
    margin-top: 0;
    color: #fff;
    display: inline-block;
    position: relative;
}

.background-color.blue {
    background-color: #2A2C39;
    border: none;
}

a:hover.btn-red {
    color: #2A2C39;
}

.p-3 {
    padding-bottom: 3em;
    padding-top: 3em;
}

.p-1 {
    padding-bottom: 1em;
    padding-top: 3em;
}

.mega {
    font-size: 4rem; /* 72 / 18 = 4 */
    margin-bottom: 0.4125rem;
}

.montserrat {
    font-family: 'Montserrat'
}

.bold {
    font-weight: 700;
}

.color-emphasis-1 {
    color: #FF4056
}

.btn-red {
    color: #fff;
    background-color: #FF4056;
    border-color: #FF4056;
}

#loaderContainer {
    display: none;
}

#engineersContainer span {
    color: #fff;
    font-size: 2em;
    display: inline-block;
    width: 100%;
}

#loader {
    position: relative;
    left: 51%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #FF4056;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 10px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
